@import url('https://fonts.googleapis.com/css2?family=Tourney:ital@1&display=swap');

body {
    background-color: white;
}

.responsive {
    width: 100%;
    max-width: 300px;
    height: auto;
    float: left;
}

.heading {
    text-align: center;
    font-size: x-large;
    font-family: Tourney;
    width: 100%;
    height: auto;
    color: #111827;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
    from {
        text-shadow: 0 0 10px #FDF2F8,
            0 0 20px #E5E7EB,
            0 0 30px #D1D5DB,
            0 0 40px #9CA3AF,
            0 0 50px #6B7280,
            0 0 60px #111827,
            0 0 70px #111827;
    }

    to {
        text-shadow: 0 0 20px #FEF2F2,
            0 0 30px #818CF8,
            0 0 40px #6366F1,
            0 0 50px #4F46E5,
            0 0 60px #4338CA,
            0 0 70px #3730A3,
            0 0 80px #312E81;
    }
}

.container {
    text-align: center;
}

.text-area {
    padding: 2.5rem;
    width: 30rem;
    height: auto;
    margin: 2rem;
    font-family: fantasy;
    font-size: 15PX;
}

#btn-translate {
    background-color: #10B981;
    border: #064E3B;
    border-radius: 5mm;
    color: #F9FAFB;
    padding: 10px 20px;
    text-align: center;
    font-size: 15px;
    margin: 4px 2px;
    opacity: 0.6;
    transition: 0.3s;
    display: inline-block;
    cursor: pointer;
}

#btn-translate:hover {
    opacity: 1;
}