@import url("https://fonts.googleapis.com/css2?family=Tourney:ital@1&display=swap");

body {
  background-color: white;
}

.responsive {
  width: 80%;
  max-width: 250px;
  height: auto;
  float: left;
  margin: 2rem;
}

.heading {
  text-align: center;
  font-size: x-large;
  font-family: Tourney;
  max-width: 500px;
  margin: auto;
  height: auto;
  color: #111827;
  padding: 0.5rem;
}

.header-text {
  margin: 10px auto;
}

.container {
  text-align: center;
}

.text-area {
  padding: 2.5rem;
  width: 30%;
  height: auto;
  margin: 3rem;
  font-family: fantasy;
  font-size: 15px;
}

#btn-translate {
  background-color: #10b981;
  border: #064e3b;
  border-radius: 5mm;
  color: #f9fafb;
  padding: 10px 20px;
  text-align: center;
  font-size: 15px;
  margin: 5px;
  opacity: 0.6;
  transition: 0.3s;
  display: inline-block;
  cursor: pointer;
}

#btn-translate:hover {
  opacity: 1;
}

@media screen and (max-width: 750px) {
  .responsive {
    display: block;
    margin: auto;
    float: none;
  }
  .text-area {
    width: 40%;
    padding: 1rem;
  }
}
